@import "imports/aek-css-config";

// additional styles below
body
  background-color white
  height auto

div.main
  margin 0

div.userdata
  background-color primeColor

.ui.grid
  margin 0

.ui.header:first-child
  margin-top 0
  background-color altColor
  padding 0.85em

.barcode-container
  text-align center

.barcode-image
  text-align center
  margin-top 20px

#barcode
  width 100%

.barcode-text
  text-align center
  margin-top 5px

.fieldname
  font-weight: bold;

.fielddata
  color: altColor;
